USE [master]
GO
/****** Object:  Database [QL_SACH]    Script Date: 12/8/2025 6:43:38 PM ******/
CREATE DATABASE [QL_SACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SACH', FILENAME = N'C:\Users\TuanAnh\QL_SACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_SACH_log', FILENAME = N'C:\Users\TuanAnh\QL_SACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SACH]
GO
USE [QL_SACH]
GO
/****** Object:  Table [dbo].[BANGSACH]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGSACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[GIABAN] [int] NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[ANHBIA] [nvarchar](255) NULL,
	[NAMXUATBAN] [int] NULL,
	[MALOAI] [int] NULL,
	[MANXB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[MA_CTHD] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADON] [int] NULL,
	[MASACH] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [int] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[SDT] [nvarchar](11) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MAVAITRO] [int] NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANG]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANG](
	[MATINHTRANG] [int] IDENTITY(1,1) NOT NULL,
	[TINHTRANGHOADON] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINHTRANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 12/8/2025 6:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MAVAITRO] [int] IDENTITY(1,1) NOT NULL,
	[TENVAITRO] [nvarchar](100) NULL,
	[MOTA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGSACH] ON 

INSERT [dbo].[BANGSACH] ([MASACH], [TENSACH], [GIABAN], [NOIDUNG], [ANHBIA], [NAMXUATBAN], [MALOAI], [MANXB]) VALUES (9, N'Tiếng Anh Cơ Bản Cho Học Sinh', 90000, N'Học tiếng Anh cơ bản cấp trung học.', N'tienganh.jpg', 2021, 4, 5)
INSERT [dbo].[BANGSACH] ([MASACH], [TENSACH], [GIABAN], [NOIDUNG], [ANHBIA], [NAMXUATBAN], [MALOAI], [MANXB]) VALUES (10, N'Hóa Học Vui', 80000, N'Sách giúp học sinh yêu thích hóa học.', N'hoahocvui.jpg', 2019, 5, 6)
INSERT [dbo].[BANGSACH] ([MASACH], [TENSACH], [GIABAN], [NOIDUNG], [ANHBIA], [NAMXUATBAN], [MALOAI], [MANXB]) VALUES (11, N'Kỹ Năng Tự Học Hiệu Quả', 75000, N'Hướng dẫn phương pháp học tập độc lập.', N'tuhoc.jpg', 2018, 5, 8)
SET IDENTITY_INSERT [dbo].[BANGSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIET_HOADON] ON 

INSERT [dbo].[CHITIET_HOADON] ([MA_CTHD], [MAHOADON], [MASACH], [SOLUONG], [DONGIA]) VALUES (4, 4, 11, 7, 75000)
INSERT [dbo].[CHITIET_HOADON] ([MA_CTHD], [MAHOADON], [MASACH], [SOLUONG], [DONGIA]) VALUES (5, 4, 24, 6, 70000)
INSERT [dbo].[CHITIET_HOADON] ([MA_CTHD], [MAHOADON], [MASACH], [SOLUONG], [DONGIA]) VALUES (6, 4, 25, 5, 90000)
SET IDENTITY_INSERT [dbo].[CHITIET_HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYLAP], [TONGTIEN], [DIACHI], [MATINHTRANG]) VALUES (4, 1010, NULL, CAST(N'2025-11-22' AS Date), 1395000, N'140 Lê Trọng Tấn', 1)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYLAP], [TONGTIEN], [DIACHI], [MATINHTRANG]) VALUES (5, 1010, NULL, CAST(N'2025-12-08' AS Date), 425000, N'140 Lê Trọng Tấn Trường đại học HUIT', 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [MATKHAU], [SDT], [EMAIL], [DIACHI]) VALUES (1010, N'Khách hàng', N'123456', N'0369829547', N'kh@gmail.com', N'Thành phố Hồ Chí Minh')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [MATKHAU], [SDT], [EMAIL], [DIACHI]) VALUES (1011, N'mã tiến an', N'123456', N'12313123', N'kh1@gmail.com', N'Tỉnh Hà Nam')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (1, N'Giáo khoa')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (2, N'Tham khảo')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (3, N'Đại học')
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [MATKHAU], [MAVAITRO], [EMAIL]) VALUES (1, N'Nguyễn Tuấn Anh', N'123456', 1, N'a@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [MATKHAU], [MAVAITRO], [EMAIL]) VALUES (2, N'La Thuận Phát', N'123456', 1, N'b@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [MATKHAU], [MAVAITRO], [EMAIL]) VALUES (3, N'Trần Thị Thu Hà', N'123456', 2, N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (1, N'NXB Giáo Dục Việt Nam', N'Hà Nội')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (2, N'NXB Kim Đồng', N'Hà Nội')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (3, N'NXB Đại Học Quốc Gia TP.HCM', N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TINHTRANG] ON 

INSERT [dbo].[TINHTRANG] ([MATINHTRANG], [TINHTRANGHOADON]) VALUES (1, N'Đã thanh toán')
INSERT [dbo].[TINHTRANG] ([MATINHTRANG], [TINHTRANGHOADON]) VALUES (2, N'Đã hủy')
INSERT [dbo].[TINHTRANG] ([MATINHTRANG], [TINHTRANGHOADON]) VALUES (3, N'Đã hoàn tất')
SET IDENTITY_INSERT [dbo].[TINHTRANG] OFF
GO
SET IDENTITY_INSERT [dbo].[VAITRO] ON 

INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO], [MOTA]) VALUES (1, N'Admin', N'Toàn quyền quản trị website')
INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO], [MOTA]) VALUES (2, N'User', N'Quản lý sách')
SET IDENTITY_INSERT [dbo].[VAITRO] OFF
GO
ALTER TABLE [dbo].[BANGSACH]  WITH CHECK ADD  CONSTRAINT [FK_LOAISACH_BANGSACH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISACH] ([MALOAI])
GO
ALTER TABLE [dbo].[BANGSACH] CHECK CONSTRAINT [FK_LOAISACH_BANGSACH]
GO
ALTER TABLE [dbo].[BANGSACH]  WITH CHECK ADD  CONSTRAINT [FK_NHAXUATBAN_BANGSACH] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[BANGSACH] CHECK CONSTRAINT [FK_NHAXUATBAN_BANGSACH]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[BANGSACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TINHTRANG] FOREIGN KEY([MATINHTRANG])
REFERENCES [dbo].[TINHTRANG] ([MATINHTRANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_TINHTRANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_VAITRO] FOREIGN KEY([MAVAITRO])
REFERENCES [dbo].[VAITRO] ([MAVAITRO])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_VAITRO]
GO
USE [master]
GO
