USE [QL_SACH]
GO
/****** Object:  Table [dbo].[BANGSACH]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGSACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[GIABAN] [int] NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[ANHBIA] [nvarchar](255) NULL,
	[NAMXUATBAN] [int] NULL,
	[MALOAI] [int] NULL,
	[MANXB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[MA_CTHD] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADON] [int] NULL,
	[MASACH] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [int] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[SDT] [nvarchar](11) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MAVAITRO] [int] NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANG]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANG](
	[MATINHTRANG] [int] IDENTITY(1,1) NOT NULL,
	[TINHTRANGHOADON] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATINHTRANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 12/18/2025 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MAVAITRO] [int] IDENTITY(1,1) NOT NULL,
	[TENVAITRO] [nvarchar](100) NULL,
	[MOTA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVAITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGSACH] ON 

SET IDENTITY_INSERT [dbo].[BANGSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [MATKHAU], [SDT], [EMAIL], [DIACHI]) VALUES (1010, N'Khách', N'123456', N'0369829547', N'kh@gmail.com', N'Thành phố Hà Nội')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [MATKHAU], [SDT], [EMAIL], [DIACHI]) VALUES (1011, N'mã tiến an', N'123456', N'12313123', N'kh1@gmail.com', N'Tỉnh Hà Nam')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (1, N'Giáo khoa')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (2, N'Tham khảo')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (3, N'Đại học')
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [MATKHAU], [MAVAITRO], [EMAIL]) VALUES (1, N'Nguyễn Tuấn Anh', N'123456', 1, N'a@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [MATKHAU], [MAVAITRO], [EMAIL]) VALUES (2, N'La Thuận Phát', N'123456', 1, N'b@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [MATKHAU], [MAVAITRO], [EMAIL]) VALUES (3, N'Trần Thị Thu Hà', N'123456', 2, N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (1, N'NXB Giáo Dục Việt Nam', N'Hà Nội')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (2, N'NXB Kim Đồng', N'Hà Nội')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHI]) VALUES (3, N'NXB Đại Học Quốc Gia TP.HCM', N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TINHTRANG] ON 

INSERT [dbo].[TINHTRANG] ([MATINHTRANG], [TINHTRANGHOADON]) VALUES (1, N'Đã thanh toán')
INSERT [dbo].[TINHTRANG] ([MATINHTRANG], [TINHTRANGHOADON]) VALUES (2, N'Đã hủy')
INSERT [dbo].[TINHTRANG] ([MATINHTRANG], [TINHTRANGHOADON]) VALUES (3, N'Đã hoàn tất')
SET IDENTITY_INSERT [dbo].[TINHTRANG] OFF
GO
SET IDENTITY_INSERT [dbo].[VAITRO] ON 

INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO], [MOTA]) VALUES (1, N'Admin', N'Toàn quyền quản trị website')
INSERT [dbo].[VAITRO] ([MAVAITRO], [TENVAITRO], [MOTA]) VALUES (2, N'User', N'Quản lý sách')
SET IDENTITY_INSERT [dbo].[VAITRO] OFF
GO
ALTER TABLE [dbo].[BANGSACH]  WITH CHECK ADD  CONSTRAINT [FK_LOAISACH_BANGSACH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISACH] ([MALOAI])
GO
ALTER TABLE [dbo].[BANGSACH] CHECK CONSTRAINT [FK_LOAISACH_BANGSACH]
GO
ALTER TABLE [dbo].[BANGSACH]  WITH CHECK ADD  CONSTRAINT [FK_NHAXUATBAN_BANGSACH] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[BANGSACH] CHECK CONSTRAINT [FK_NHAXUATBAN_BANGSACH]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[BANGSACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_TINHTRANG] FOREIGN KEY([MATINHTRANG])
REFERENCES [dbo].[TINHTRANG] ([MATINHTRANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_TINHTRANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_VAITRO] FOREIGN KEY([MAVAITRO])
REFERENCES [dbo].[VAITRO] ([MAVAITRO])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_VAITRO]
GO
