
body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container {
    background-color: #111a2c;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
    text-align:center;
}

    .register-container h2 {
        margin-bottom: 0.3rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

        .register-container h2::before {
            content: "📖";
        }

    .register-container p {
        color: #ccc;
        font-size: 14px;
        margin-bottom: 1.5rem;
    }

        .register-container p a {
            color: #3b82f6;
            text-decoration: none;
        }

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

label {
    text-align: left;
    font-size: 14px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #1a2338;
    color: #fff;
    outline: none;
    font-size: 14px;
    width: 100%;
}

    input:focus {
        border: 1px solid #3b82f6;
    }

.register-btn {
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

    .register-btn:hover {
        background-color: #2563eb;
    }
