@model Web_BanSach.NHAXUATBAN

@{
    ViewBag.Title = "ThemNXB";
    <link href="~/Areas/Css/ThemLoai.css" rel="stylesheet" />
<script src="https://esgoo.net/scripts/jquery.js"></script>

}
<section class="form-container">
    <div class="form-card">
        <!-- Header -->
        <div class="form-header">
            <div class="form-icon">
                <i class="fa-solid fa-folder-plus"></i>
            </div>
            <h2>Thêm NXB Mới</h2>
        </div>

        <!-- Body -->
        <div class="form-body">
            @using (Html.BeginForm("ViewThemNXB", "NhaXuatBan", new { area = "Admin" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="custom-form-group">
                    <label class="custom-label">
                        <i class="fa-solid fa-tag"></i>
                        Tên nhà xuất bản
                        <span class="required-star">*</span>
                    </label>
                    @Html.TextBoxFor(model => model.TENNXB, new
                    {
                        @class = "custom-input",
                        placeholder = "Nhập tên nhà xuất bản...",
                        required = "required",
                        maxlength = "100"
                    })
                </div>
                <div class="custom-form-group">
                    <label class="custom-label">
                        <i class="fa-solid fa-tag"></i>
                        Địa chỉ
                        <span class="required-star">*</span>
                    </label>
                    <select class="css_select form-control" id="tinh" name="DIACHI" title="Chọn Tỉnh Thành" style="width:180px">
                        <option value="" class="form-control">Chọn Tỉnh Thành</option>
                    </select>
                </div>
                <!-- Buttons -->
                <div class="form-footer">
                    <a href="@Url.Action("Index", "NhaXuatBan", new { area = "Admin" })" class="btn-cancel">
                        <i class="fa-solid fa-arrow-left"></i>
                        Quay lại
                    </a>
                    <button type="submit" class="btn-submit">
                        <i class="fa-solid fa-plus"></i>
                        Thêm nhà xuất bản
                    </button>
                </div>
            }
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
            if (data_tinh.error == 0) {
                $.each(data_tinh.data, function (key_tinh, val_tinh) {
                    $("#tinh").append('<option value="' + val_tinh.full_name + '">' + val_tinh.full_name + '</option>');

                });
                $("#tinh").change(function (e) {
                    var idtinh = $(this).val();
                    //Lấy quận huyện
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                        if (data_quan.error == 0) {
                            $("#quan").html('<option value="0">Quận Huyện</option>');
                            $("#phuong").html('<option value="0">Phường Xã</option>');
                            $.each(data_quan.data, function (key_quan, val_quan) {
                                $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                            });
                            //Lấy phường xã
                            $("#quan").change(function (e) {
                                var idquan = $(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                    if (data_phuong.error == 0) {
                                        $("#phuong").html('<option value="0">Phường Xã</option>');
                                        $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                            $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                        });
                                    }
                                });
                            });

                        }
                    });
                });

            }
        });
    });
</script>